* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  max-width: 100%;
  background-color: #e3e3e3;
}
.container {
  max-width: 700px;
  padding: 40px;
  margin: 50px auto;

  background-color: white;
}
header h1 {
  font-size: 26px;
  color: #005a7b;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header h2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #005a7b;
  margin: 5px auto 10px;
}

header p {
  font-size: 12px;
  color: #464646;
  line-height: 17px;
}

header div.details {
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 10px;
}

div.details ul {
  display: flex;
  font-size: 11px;
  color: #464646;
  padding: 5px 0;
  list-style: none;
  justify-content: space-between;
}

div.details ul li::before {
  content: "\2022";
  color: #005a7b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Main Area Styling */

main {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
aside.experience {
  width: 71%;
}

aside.skills {
  width: 25%;
}

aside.skills h2,
aside.experience h2 {
  color: #005a7b;
  font-size: 14px;
  letter-spacing: 1px;
}
aside.experience div {
  width: 100%;
  border-top: 1px #464646 solid;
  margin-top: 7px;
  padding-top: 7px;
  padding-left: 10px;
}
aside.experience div h3 {
  font-size: 14px;
  font-weight: lighter;
}
aside.experience div ul {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: auto;
  list-style: none;
}

aside.experience div ul li::before {
  content: "\2022";
  color: #005a7b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.bolder {
  color: #005a7b;
  font: 14px;
  font-weight: bold;
}

aside.experience div p {
  color: #464646;
  font-size: 12px;
  line-height: 17px;
  margin-top: 10px;
}

aside.skills h3 {
  color: #005a7b;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
}

aside.skills ul {
  padding-left: 15px;
  color: #005a7b;
  font-size: 10px;
  margin-top: 15px;
}

aside.skills ul li {
  margin-top: 7px;
}

.projects {
  flex-direction: column;
}
.projects li {
  margin-top: 10px;
  line-height: 17x;
}

footer {
  width: 100%;
  margin-top: 30px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  list-style: none;
}

footer ul li::before {
  content: "\2022";
  color: #005a7b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
